body {
  font-family: "Inter", sans-serif;
  background: #f3f5fc;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 40px 0px 40px;
}

.container-inputs {
  padding-right: 5rem;
}

.input-textarea {
  border: none;
  outline: none;
  background: #f3f5fc;
  color: #0a3871;
  font-weight: 400;
  font-size: 2rem;
  width: 680px;
  height: 400px;
  resize: none;
  margin-top: -5rem;
}

.input-textarea::placeholder {
  color: #0a3871;
}

.informativo {
  margin: 10px;
}

.img-exclamation {
  margin-right: 10px;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 20rem;
  height: 4.5rem;
  border-radius: 24px;
  gap: 8px;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  margin-right: 1.5rem;
  cursor: pointer;
}

.btn-cripto {
  background: #0a3871;
  color: #ffffff;
  transition: 0.5s ease-out;
}

.btn-cripto:hover {
  background: #052051;
  transform: scale(1.1);
}

.btn-decripto,
.btn-copiar {
  background: #eff1fa;
  border: 1px solid #0a3871;
  color: #0a3871;
  transition: 0.5s ease-out;
}

.btn-decripto:hover,
.btn-copiar:hover {
  background: #aab2d5;
  transform: scale(1.1);
}

.btn-copiar {
  width: 20rem;
  height: 4.5rem;
  border-radius: 24px;
  border: 1px solid #0a3871;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

.output {
  width: 27.78vw;
  height: 92.18vh;
  background: #ffffff;

  position: relative;
  top: -6rem;

  border: none;
  border-radius: 2rem;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.resultado {
  width: 84%;
  height: 82%;
  font-weight: 400;
  font-size: 1.5rem;
  overflow: auto;
  text-align: left;
  margin: 1rem 1rem 0.5rem 1rem;
}

.bloco-output {
  margin-top: 10rem;
}

.img-codigo {
  width: 84%;
  height: 52.2%;
  margin-left: 2rem;
}

.bloco-output h2 {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: #343a40;
  padding: 2rem 3rem 0 3rem;
}

.bloco-output p {
  text-align: center;
  padding: 2rem 3rem 0 3rem;
  color: #495057;
  font-weight: 400;
  font-size: 1rem;
}

.btn-copiar {
  text-align: center;
}

.invisivel {
  display: none;
}
