.logo-alura {
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 2.5rem 2.5rem;
  animation: rotacionar 2s infinite;
}

@keyframes rotacionar {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}
